/* base setting css */
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.col {
  width: 94vw;
  margin: auto;
}
a {
  list-style-type: none;
  color: #808080;
}
/* message btn */
.faq__message-btn {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 80;
}
.faq__message-btn .fas {
  font-size: 5rem;
  color: var(--primary-color);
}
.faq__message-btn .fas:hover {
  cursor: pointer;
  color: var(--primary-color);
  filter: brightness(1.2);
}
/* banner and text on banner */
.header__faq-image {
  position: relative;
  height: 80vh;
}
.header__faq-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.top__image {
  height: 80vh;
}
.header__faq-image-content {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
/* FAQ */
/* FAQ main content */
.faq {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}
.faq h3,
h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
.faq h4 {
  font-size: 1.6rem;
}
.faq p,
ul {
  font-size: 1.5rem;
  color: #808080;
}
.faq__main-content {
  flex: 1 1 70%;
  padding: 10px;
}
.faq__aside-content {
  flex: 1 1 30%;
  padding: 10px;
}
.faq__main-content-item {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.faq__title {
  display: flex;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
/* animate for sub content */
.faq__sub-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}
.faq__main-content-item.active .faq__sub-content {
  max-height: 700px;
}
.fas {
  transition: all 0.4s ease-in-out;
}
.faq__main-content-item.active .fas {
  transform: rotate(180deg);
}
.faq__sub-content-details {
  padding: 20px;
}
/* ------------------------- */
.faq__title {
  padding: 11px;
  align-items: center;
}
.faq__main-content-item h4,
p,
.faq__main-content-item ul li {
  margin-bottom: 20px;
}
.faq__title .fas {
  font-size: 2.5rem;
  color: #fff;
  margin-right: 10px;
  align-items: center;
}
/* FAQ aside content */
.faq__aside-content h3 {
  margin: 20px 0px 30px 0px;
  position: relative;
}
.faq__aside-content h3:after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: var(--primary-color);
  bottom: -5px;
  left: 0;
  right: 0;
  width: 50px;
}
.faq__aside-content h3:before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: var(--primary-color);
  bottom: -10px;
  left: 0;
  right: 0;
  width: 25px;
}
.aside-content__search input {
  border: none;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 0px;
}
.aside-content__search input:last-child {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 800;
}
.aside-content__search input:last-child:hover {
  cursor: pointer;
  background-color: var(--text-color);
  color: #fff;
  transition: 0.5s;
}
.aside-content__search input:focus {
  outline: solid 1px var(--primary-color);
}
.aside-content__search form {
  display: flex;
}
/* recent post css */
.recent-posts__posts {
  display: flex;
}
.recent-posts__posts img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.recent-posts__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: #808080;
}
.recent-posts__title a:hover {
  color: var(--primary-color);
}
/* category dropdown */
.aside-content__category-dropdown input {
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  width: 80%;
}
.aside-content__category-dropdown input:focus {
  outline: none;
  border: solid 1px var(--primary-color);
}
/* aside content comment css */
.aside-content__comments a {
  color: var(--primary-color);
}
.aside-content__comments a:hover {
  color: var(--text-color);
  filter: brightness(1.5);
}
/* aside content meta */
.aside-content__meta .fas {
  color: #808080;
  margin-right: 10px;
}
.aside-content__meta a:hover {
  color: var(--primary-color);
}
/* aside content tag cloud */
.aside-content__tag-cloud a {
  display: inline-block;
  border: solid 1px #ddd;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.aside-content__tag-cloud a:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.5s;
}
