/* for desktop */
@media only screen and (max-width: 1024px) {
  .contact-us__content-left input {
    width: 100%;
  }
}
/* medium devices */
@media only screen and (max-width: 768px) {
  .contact-us__form {
    display: flex;
    flex-direction: column;
  }
  .contact-us__content-right {
    margin: 0;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: -1;
  }
  .contact-us__content-right-items {
    width: 48%;
  }
}
/* small devices */
@media only screen and (max-width: 600px) {
  .contact-us__content-right-items,
  .contact-us__content-left input {
    width: 100%;
  }
  .contact-us__content-right {
    margin: 0;
    margin: 50px 0px;
  }
  .video__index::after {
    height: 70vh;
  }
}
