/* ------------------------------------------- */
/* header */
.header {
  position: fixed;
  top: 0;
  width: 0;
  min-width: 100%;
  z-index: 99;
  padding: 0 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
/* change background header fixed when scroll */
.header__scroll.active-color {
  padding: 0 1.5rem;
  position: relative;
  background-color: white;
  color: black;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  animation: animatetop 0.6s;
}
.header__scroll.active-color .header__logo-link {
  color: var(--text-color);
}
.header__scroll.active-color .header__nav-link {
  color: black;
}
.header__scroll.active-color .header__menu-icon i {
  color: black;
}
.header__scroll.active-color .nav-child__list {
  background-color: rgba(0, 0, 0, 0.7);
}
/* nav & logo */
.header__nav {
  display: grid;
  grid-template-columns: 0.75fr 1fr auto;
  align-items: center;
}
.menu__nav {
  justify-self: end;
}
.header__logo-link {
  padding: 3rem 0;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 2rem;
  color: white;
}
.header__logo-link span {
  color: var(--primary-color);
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  position: relative;
  z-index: 10;
}
.header__nav-link {
  position: relative;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: 1.5rem;
}
.header__nav-link.active {
  color: var(--primary-color);
}
/* --------------------------------- */
/* nav child */
.nav-child__list {
  position: absolute;
  top: 95%;
  left: 1rem;
  min-width: 15rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  z-index: 5;
  transform: scale(0);
  transform-origin: center top;
  transition: transform 0.4s ease-in-out;
}
.header__nav-item:hover .nav-child__list {
  transform: scale(1);
}
.nav-icon {
  margin-left: 0.3rem;
  font-size: 1.3rem;
}
.nav__child-item {
  position: relative;
  z-index: 5;
}
.nav-child__link {
  position: relative;
  display: block;
  color: white;
  font-size: 1.4rem;
  text-transform: capitalize;
  padding: 1rem;
}
/* ----------------------------------------*/
/* submenu c2 */
.submenu-c2__list {
  position: absolute;
  top: 0;
  left: 14.8rem;
  background-color: rgba(0, 0, 0, 0.55);
  min-width: 28rem;
  z-index: 2;
  display: none;
}
.submenu-c2__item {
  flex-basis: 50%;
}
.submenu-c2__item:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.submenu-c2__link {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
}
.nav-child__list .nav__child-item:hover .submenu-c2__list {
  display: block;
}
/* menu icon */
.header__menu-icon {
  display: flex;
  align-items: center;
}
.header__menu-icon i {
  color: white;
  cursor: pointer;
}
.header__burger {
  display: none;
}
/* ----------------------------------- */
/* mobile nav */
.header__mobile-nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  overflow: hidden;
  transform-origin: center top;
  transform: scaleY(0);
  transition: transform 0.4s ease-in-out;
}
.header__mobile-nav.active {
  transform: scaleY(1);
}
.mobile-nav__list {
  position: relative;
  padding: 1.2rem 0;
}
.mobile-nav__list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--text-color);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.8s linear;
}
.header__mobile-nav.active .mobile-nav__list::after {
  transform: scaleX(1);
}
.nav-mobile__child-list {
  max-height: 0;
  overflow: hidden;
  margin-left: 3rem;
}
.nav-mobile__child-link {
  color: #333;
  display: block;
  padding: 0.5rem;
}
.nav-mobile__child-link:hover {
  background: rgba(0, 0, 0, 0.1);
}
.mobile-nav__link {
  position: relative;
  padding: 0.8rem 1.5rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  text-transform: uppercase;
}
.mobile-nav__link::after {
  position: absolute;
  content: "";
  top: 85%;
  left: 1.5rem;
  height: 2px;
  width: calc(100% - 2rem);
  background: linear-gradient(to left, var(--primary-color), var(--text-color));
  transform-origin: center left;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}
.mobile-nav__link:hover::after {
  transform: scaleX(1);
}
.mobile-nav__link.active ~ .nav-mobile__child-list {
  max-height: 100%;
  animation: fadeIn 0.4s ease-in-out;
}
.mobile-nav-icon.active {
  transform: rotate(270deg);
  transition: transform 0.4s ease-in;
}
/* ----------------------------------------- */
.auto-world__login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  display: none;
}
.close__loginform {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.close__loginform i {
  font-size: 2rem;
  color: black;
}
.auto-world__login-detail {
  max-width: 80rem;
  margin: 8rem auto;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  border-radius: 1.3rem;
  animation: fadeIn 0.4s ease-in;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.login-detail__left,
.login-detail__right {
  flex: 1;
}
/*  */
.login__chose-btns {
  display: inline-block;
  margin: 1rem 0 3rem;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.login__chose-btns a {
  min-width: 6rem;
  display: inline-block;
  font-size: 1.3rem;
  color: #333;
  font-weight: 500;
}
.btn-login-chose.active {
  color: #ecb417;
}
.login-detail__left form.active {
  display: grid;
}
.login__chose-btns a:first-child {
  border-right: 1px solid #333;
  margin-right: 7px;
}
.login-detail__left {
  padding: 5rem 3rem 3rem;
  text-align: center;
}
.login-detail__left h4 {
  font-size: 2rem;
  font-weight: 400;
}
.login-detail__left form {
  gap: 2rem;
  grid-template-columns: 1fr;
  display: none;
}
.login-detail__left form input {
  padding: 0.8rem;
  height: 3.4rem;
  border: 1px solid rgba(233, 233, 233);
  border-radius: 0.6rem;
}
.btn-login {
  display: inline-block;
  background-color: #ecb417;
  color: white;
  padding: 1rem;
  justify-self: start;
  min-width: 12rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.forgot-password {
  position: relative;
  top: -5rem;
  left: 9rem;
  font-size: 1.4rem;
}
/* login right */
.login-detail__right {
  position: relative;
  z-index: 1;
}
.login-detail__right::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(3, 14, 53, 0.726),
    rgba(71, 33, 8, 0.308)
  );
  z-index: 2;
}
.login-details__img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
  padding: 3rem 2rem;
  border: 1rem solid rgb(255, 255, 255, 0.2);
  text-align: center;
}
.login-details__img-content h5 {
  font-size: 2.2rem;
  display: block;
}
.login-details__img-content p {
  font-size: 2rem;

  margin: 1rem 0 1.5rem;
}
.login-social__link {
  color: #fff;
  margin-right: 0.2rem;
}
.login-social__link i {
  height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  background-color: #d32b2b;
  font-size: 1.6rem;
  border-radius: 3px;
}
.login-social__link:first-child i {
  background-color: #0a4281;
}
.login-social__link:last-child i {
  background-color: #3c87dc;
}
.login-social__link:nth-child(2) i {
  background-color: #66d3fa;
}
.login-details__img {
  height: 75vh;
}

/* ---------------------------------------- */
/* video__index */
.video__index {
  height: 95vh;
  position: relative;
  z-index: 2;
}
.video__index::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 3;
  height: 95vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.video__index video {
  width: 100%;
}
.video__index-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: white;
  z-index: 4;
  width: 60%;
}
.home__heading {
  font-size: 6.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.home__heading span {
  color: var(--primary-color);
}
.btn-contact-us {
  margin-top: 1rem;
  display: inline-block;
  min-width: 15rem;
  color: white;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--primary-color);
}
/* ---------------------------------------- */
/* feature car */
.feature-cars .row-index,
.feature-motors .row-index {
  display: grid;
}
.feature-cars__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.feature-cars__item img {
  height: 18rem;
  border-radius: inherit;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.feature-cars__item {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  border-radius: 6px;
  background-color: white;
}
.cars__item-details {
  margin-top: 1rem;
  display: grid;
  gap: 1.2rem;
}
.cars__item-heading {
  letter-spacing: 1px;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  /* them */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.cars__item-feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cars__item-feature-details {
  font-size: 1.2rem;
  color: #777;
}
.cars__item-price {
  color: var(--primary-color);
  font-size: 1.1rem;
}
.btn-view-car i {
  font-size: 1.2rem;
  margin-right: 0.4rem;
}
.btn-view-car {
  color: #333;
  display: inline-block;
  font-size: 1.4rem;
}
.btn-view-car:hover {
  color: var(--primary-color);
}
.btn-view-carmove {
  margin: 3rem 0 2rem;
  justify-self: center;
}
/* ---------------------------------------- */
/* feature motors */
.feature-cars,
.feature-motors,
.about-us,
.read-ourblog,
.contact-us,
.testimonials,
.our-partner {
  margin-top: 2rem;
  padding: 3rem 1.5rem;
}
/* ------- */
.home__subheading {
  font-weight: 800;
  text-align: center;
  display: block;
  font-size: 2.6rem;
  color: var(--text-color);
  padding: 2rem;
}
.home__desc {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  width: 60%;
  padding: 2rem 0 6rem;
  line-height: 1.6;
  color: #777;
  margin: 0 auto;
}
.home__subheading span {
  color: var(--primary-color);
}
.wavy {
  text-align: center;
}
.wavy img {
  height: 15px;
  width: 40px;
  display: inline-block;
}
/* ------------------------------------------------- */
/* about-us */
.about-us {
  background: linear-gradient(
      to bottom,
      rgba(75, 88, 131, 0.6),
      rgba(4, 15, 46, 0.7)
    ),
    url(/assets/image/index/about-fullscreen-1-1920x700.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 80vh;
  text-align: center;
}
.about-us .home__subheading {
  color: white;
}
.about-us .home__desc {
  color: white;
}
.about-us__content p {
  color: white;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
/* ----------------------------------------- */
/* ads */
.ads__img {
  max-width: 97rem;
  margin: 0 auto;
}
.ads__img img {
  height: 100%;
}
/* ------------------------------------------- */
/* our-partner */
.our-partner {
  margin-top: 2rem;
  padding-top: 3rem;
}
.our-partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.our-partner__item {
  width: calc(100% / 6 - 2rem);
}
.our-partner__item img {
  transition: all 0.3s ease;
}
.our-partner__item img:hover {
  transform: scale(1.2);
}
/* --------------------------------------------- */
/* read-ourblog */
.read-ourblog__details {
  display: grid;
  gap: 7rem;
  min-height: 60rem;
  grid-template-columns: 0.5fr 1fr;
  grid-auto-rows: auto;
}
.read-ourblog__btn {
  display: flex;
  flex-direction: column;
}
.btn-ourblog-button {
  background-color: white;
  display: inline-block;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  color: var(--text-color);
}
.read-ourblog__img {
  max-height: 32rem;
  border-radius: 5px;
}
.read-ourblog__content.active {
  animation: fadeIn 0.6s ease-in;
}
.ourblog__content-details {
  margin-top: 2rem;
}
.ourblog__content-details > * {
  margin-bottom: 1.3rem;
}
.ourblog__content-details h4 {
  font-size: 2rem;
  color: var(--text-color);
}
.ourblog__content-info {
  display: flex;
}
.ourblog-info__item {
  color: #777;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 0 1rem;
}
.ourblog-info__item:not(:last-child) {
  border-right: 2px solid #777;
}
.ourblog-info__item:first-child {
  padding-left: 0;
}
.ourblog-info__item i {
  min-width: 1.5rem;
}
.ourblog__content-details p {
  margin-top: 2.5rem;
  font-weight: 300;
  color: #777;
  font-size: 1.4rem;
}
.btn-continue-reading {
  text-align: left;
}
.btn-ourblog-button.active {
  color: #ecb417;
}
/* ------------------------------------------- */
/* send mess */
.contact-us {
  background: linear-gradient(
      to bottom,
      rgba(38, 44, 65, 0.8),
      rgba(13, 21, 43, 0.8)
    ),
    url(Auto_WordCar/assets/image/index/send___mess.jpg);
  min-height: 60vh;
  background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}
.contact-us h2 {
  letter-spacing: 1px;
  font-size: 3.2rem;
  font-weight: 800;
}
.contact-us p {
  width: 60%;
  margin: 2rem auto;
}
.contact-us span {
  color: var(--primary-color);
}
/* ------------------------------------------------ */
/* testimonials */
.testimonials .row-index {
  display: grid;
}
.testimonials__list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 15rem;
  line-height: 1.6;
  margin-bottom: 6rem;
}
.testimonials__item {
  display: grid;
  gap: 2rem;
  grid-template-columns: 12rem 1fr;
}
.testimonials__item img {
  border-radius: 5px;
}
.person__name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.testimonials__item-content .person__desc {
  font-size: 1.4rem;
  color: #777;
}
.btn-read-more {
  display: inline-block;
  padding: 1rem 1.4rem;
  text-align: center;
  justify-self: center;
  color: white;
  background-color: var(--primary-color);
  border-radius: 0.2rem;
}
.btn-read-more:hover {
  opacity: 0.9;
}
/* --------------------------------------------------- */
/* back-to-top */
.back-to-top {
  margin: 3rem 0 0;
  background-color: #040c13;
  color: white;
  text-align: center;
}
.back-to-top a {
  display: block;
  color: white;
  padding: 0.8rem;
  letter-spacing: 2px;
}
/* ------------------------------------------------------- */
/* footer */
.footer {
  padding: 6rem 0 0;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(4, 13, 37, 0.9),
      rgba(1, 10, 37, 0.6)
    ),
    url(/assets/image/index/footer__image/arun-kuchibhotla-W1XWT16Ij-Q-unsplash.jpg);
  min-height: 70vh;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  color: white;
}
.footer__top {
  padding: 0 1.5rem;
}
.footer__top-list {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.6;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
}
.footer__logo-link {
  position: relative;
  color: white;
  font-size: 2.8rem;
  letter-spacing: 1px;
  display: block;
}
.footer__top-heading {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  display: block;
}
.footer__top-heading,
.footer__logo-link {
  margin-bottom: 3rem;
}
.footer__top-heading::after,
.footer__logo-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 1px;
  width: 6rem;
  background: rgb(95, 95, 95);
}
.footer__top-heading::before,
.footer__logo-link::before {
  position: absolute;
  content: "";
  top: calc(100% + 3px);
  left: 0;
  height: 1px;
  width: 3rem;
  background: rgb(95, 95, 95);
}
.footer__nav-list {
  display: grid;
  gap: 1.5rem;
}
.footer__nav-link {
  display: inline-block;
  color: white;
  font-size: 1.4rem;
}
.footer__nav-link .fa-chevron-right {
  font-size: 0.8rem;
}
.footer__nav-link i {
  min-width: 1rem;
}
.footer__top-item:nth-child(3) .footer__nav-list .footer__nav-link span {
  transition: 0.3s all ease-out;
}
.footer__top-item:nth-child(3) .footer__nav-list .footer__nav-link:hover span {
  padding-left: 1rem;
}
/* footer form contact*/
.footer-contact {
  margin-top: 2rem;
  position: relative;
}
.footer-contact input {
  height: 3.5rem;
  padding: 0.8rem;
  color: black;
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(235, 235, 235);
  border-radius: 3px;
  padding-right: 6rem;
}
.footer-contact input:focus {
  background-color: white;
}
.btn-footer-contact {
  position: absolute;
  right: 0;
  top: 0;
  height: 3.6rem;
  width: 3.6rem;
  line-height: 3.5rem;
  text-align: center;
  background-color: #c62121;
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-footer-contact:active {
  background-color: rgb(44, 89, 211);
}
/* footer bottom */
.footer__bottom {
  background-color: rgb(11, 21, 36, 0.5);
  margin-top: 6rem;
  padding: 2rem 1.5rem;
}
.footer__bottom-details {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.footer__social-icon {
  justify-self: end;
}
.footer__social-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}
.footer__social-link {
  display: block;
  color: white;
  font-size: 1.8rem;
}
.footer__social-link i {
  border: 1px solid white;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.footer__social-link i:hover {
  border: transparent;
}
.social--bg-blue1:hover i {
  background-color: #0a4281;
}
.social--bg-blue3:hover i {
  background-color: #66d3fa;
}
.social--bg-blue2:hover i {
  background-color: #3c87dc;
}
.social--bg-red:hover i {
  background-color: #c62121;
}
