@media only screen and (max-width: 860px) {
/* top-image */
.top {
  padding-top: 10rem;
}
.word-top-image {
  font-size: 14px;
}
/* about-us */
.h-about-us {
  flex-wrap: wrap;
}
.img-about-us {
  width: 100%;
}
.word-about-us {
  width: 100%;
}
/* o-about-out */
.o {
  flex-wrap: wrap;
}
.o-list {
  min-width: 100%;
  margin-bottom: 1rem;
}
.o-image {
  min-width: 100%;
  height: 21rem;
}
.o-heading {
  padding: 1rem 0 0;
}
}

@media only screen and (max-width: 650px) {
.word-top-image {
  font-size: 12px;
}
}

@media only screen and (max-width: 500px) {
.word-top-image {
  font-size: 10px;
}
}